---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="DoodleUni - Gallery">
    <section class="max-w-7xl mx-auto px-6">
        <div class="text-center mb-12">
            <h2 class="text-4xl md:text-5xl font-extrabold text-darkBlue mb-4">Campus Life in Frames</h2>
        </div>
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
             <div class="h-64 bg-gray-200 rounded-[2rem] shadow-sm"></div>
             <div class="h-64 bg-gray-300 rounded-[2rem] shadow-sm"></div>
             <div class="h-64 bg-gray-200 rounded-[2rem] shadow-sm"></div>
             <div class="h-64 bg-gray-300 rounded-[2rem] shadow-sm"></div>
             <div class="h-64 bg-gray-300 rounded-[2rem] shadow-sm"></div>
             <div class="h-64 bg-gray-200 rounded-[2rem] shadow-sm"></div>
             <div class="h-64 bg-gray-300 rounded-[2rem] shadow-sm"></div>
             <div class="h-64 bg-gray-200 rounded-[2rem] shadow-sm"></div>
        </div>
    </section>
</BaseLayout>